[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./bot.py

# Name of the bot in-game
name = Wilhelmus

# The maximum number of ticks per second that your bot wishes to receive.
maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = The RLBot community

# Short description of the bot
description = Ultimate ego bot. Wilhelmus thinks he is better than you even though
he is clearly terrible at the game. Though, to his credit, he defends well (makes somewhat good clearances and knows that pushing the ball
in its corner is a safe play, for example). A good ballchaser, but not a good dribbler. 

# Fun fact about the bot
fun_fact = Wilhelmus will not hesitate to make you know that he scored, and that your goal was not

# Link to github repository
github = https://github.com/RLBot/RLBotPythonExample

# Programming language
language = python
